.trackProgressbar {
	position: relative;
	height: 2px;
	margin: 0 0 30px 0;
	background: #e3e5e5 linear-gradient(to right, currentColor, currentColor) no-repeat;
	color: #9ee6d9;

	&::before, &::after {
		display: block;
		position: absolute;
		top: 11px;
		color: #999b9b;
		font-size: 13px;
		font-weight: 300;
		line-height: 13px;
	}

	&::before {
		left: 0;
		content: attr(data-current-time);
	}

	&::after {
		right: 0;
		content: attr(data-total-time);
	}
}