<div class="player">
    <div class="player__loader" ng-if="playerCtrl.loading"></div>

    <div class="player__trackImage"
         ng-class="{
            'player__trackImage--fromLeft': playerCtrl.scrollFromLeft,
            'player__trackImage--fromRight': !playerCtrl.scrollFromLeft
         }"
         ng-style="{ backgroundImage: 'url(' + playerCtrl.playerBg + ')' }"
         ng-animate-swap="playerCtrl.playerBg">
    </div>

    <div class="player__dashboard">
        <div class="player__controlsContainer">
            <player-controls playing="playerCtrl.playing"
                             backward="playerCtrl.backward()"
                             forward="playerCtrl.forward()"
                             play="playerCtrl.play()"
                             pause="playerCtrl.pause()">
            </player-controls>
        </div>

        <div class="player__trackContainer" ng-class="{
            'player__trackContainer--loading': playerCtrl.loading
        }">
            <track-details artist-name="playerCtrl.trackData.artistName" track-name="playerCtrl.trackData.trackName"></track-details>

            <track-progressbar seek="playerCtrl.seek(time)"
                               current-time="playerCtrl.currentTime"
                               total-time="playerCtrl.totalTime"
                               ng-disabled="playerCtrl.loading">
            </track-progressbar>
        </div>
    </div>
</div>