<div class="player">
<div class="player__trackImage" ng-style="{ backgroundImage: 'url(' + playerCtrl.trackData.trackImage + ')' }"></div>

    <div class="player__dashboard">
        <div class="player__controlsContainer">
            <player-controls playing="playerCtrl.playing"
                             backward="playerCtrl.backward()"
                             forward="playerCtrl.forward()"
                             play="playerCtrl.play()"
                             pause="playerCtrl.pause()">
            </player-controls>
        </div>

        <div class="player__trackContainer">
            <track-details artist-name="playerCtrl.trackData.artistName" track-name="playerCtrl.trackData.trackName"></track-details>

            <track-progressbar seek="playerCtrl.seek(time)" current-time="playerCtrl.currentTime" total-time="playerCtrl.totalTime"></track-progressbar>
        </div>
    </div>
</div>